---
import { ArrowUpRight, BrainCog } from 'lucide-astro';
interface Props {
  i18nKey: string;
  title: string;
  description: string;
  summary: string;
  details: string;
  metric: string;
  tags: string[];
  url?: string;
}

const { i18nKey, title, description, summary, details, metric, tags, url } = Astro.props;
---

<div class="grid grid-cols-3 py-6">
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-2">
      <h3 class="text-4xl">{title}</h3>
      <p class="text-sm my-6">{description}</p>
    </div>
    <div class="flex gap-2 flex-wrap">
      {tags.map((tag, index) => <span class={`rounded-full px-4 py-1 text-xs ${index % 2 === 0 ? 'border border-black' : 'bg-black text-white'}`}>{tag}</span>)}
    </div>
  </div>
  <div class="grid grid-cols-3 gap-6 col-span-2">
    <div class="relative h-full z-10">
      <div class="bg-brand-purple w-[350px] absolute h-full">
        asd
      </div>
    </div>
    <div class="flex flex-col gap-2 z-20 justify-between">
      <div class="bg-brand-yellow flex flex-col p-6 h-[180px]">
        <div class="flex justify-between items-center">
          <span class="text-lg font-bold">AI Assistance speed</span>
          <ArrowUpRight class="w-4 h-4" />
        </div>
        <div class="flex justify-between items-end flex-1">
          <span class="text-xs">0x</span>
          <span class="text-6xl">5x</span>
          <span class="text-xs">10x</span>
        </div>
      </div>
      <div class="flex flex-col items-end gap-4">
        <div class="w-2/3">
          <span class="rounded-full px-4 py-1 text-xs border border-black">Claude code</span>
        </div> 
        <div class="w-2/3"><span class="text-xs">Spec driven development</span></div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-space">
      <span class="text-3xl text-center my-6 mx-8">Fullstack workflow</span>
      <div class="rounded-full bg-brand-lavender w-12 h-12 flex items-center justify-center"><BrainCog class="w-6 h-6" /></div>
    </div>
</div>