<footer class="bg-brand-navy text-white pt-8 pb-12 px-4">
  <div class="max-w-screen-xl mx-auto">
    <div>
      <h1 class="text-4xl">Leo Merlo</h1>
      <span class="text-xs" data-i18n="footer.tagline">Fullstack developer with a focus on experience and accessibility.</span>
    </div>
  </div>
</footer>
